<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.username}"></span></strong> with roles: <span
            th:each="role : ${user.roles}" th:text="${role.toString() + ' '}"></span></a>
    <a class="nav-link text-secondary" href="/logout"><h5>Logout</h5></a>
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row" style="height:100vh;">
        <div class="col-2 mt-3 pl-0 pr-0">
            <nav class="nav flex-column nav-pills ">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin">Admin</a>
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>
        <div class="col-md-10 mt-3 pl-3 pr-3">
            <h1 class="text-left">
                User information-page
            </h1>
            <table>
                <p>User Page</p>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>LastName</td>
                    <td>Age</td>
                    <td>Email</td>
                    <td>Username</td>
                    <td>Password</td>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${user}">
                    <td th:text="*{getName()}"/>
                    <td th:text="*{getSurname()}"/>
                    <td th:text="*{getAge()}"/>
                    <td th:text="*{getEmail()}"/>
                    <td th:text="*{getUsername()}"/>
                    <td th:text="*{getPassword()}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>


</body>
</html>